.collection1 {
  padding: 50px 0;
  &__collection-item {
  }
  &__product-img {
    background: #edeff5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    margin-bottom: 10px;
    position: relative;
    img {
      max-width: 70%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__heart {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.4rem;
    color: #a8a8c1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #d22b2b;
      transform: scale(1.2);
    }
  }

  &__product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__product-title {
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
  }

  &__product-price {
    font-size: 1rem;
    font-weight: 400;
  }

  &__colors {
    display: flex;
  }

  &__color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    &--black {
      background: black;
    }
    &--yellow {
      background: yellow;
    }
    &--red {
      background: red;
    }
    &--blue {
      background: blue;
    }
    &--purple {
      background: purple;
    }
    &--orange {
      background: orange;
    }
  }
}
