@use './reset';
@use '../components/components';
@use './bootstrap/scss//bootstrap.scss';

body {
  background-color: #f7f9fd;
}

a {
  transition: all 0.3s ease-in-out;

  &:hover {
    color: red;
  }
}

.fixed-nav {
  &.nav-transparent {
    .header {
      background: transparent;
      a {
        color: white;
      }
      .header1__collection-link,
      .header2__collection-link,
      .header3__collection-link,
      .header4__collection-link {
        .collection-link__sub-links {
          a {
            color: black;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 20;
  }
}
